@font-face {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/Lato-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/Lato-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 900;
  font-family: "Lato";
  font-style: normal;
  src: url("../fonts/Lato-Black.woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  background-color: #272733;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  min-width: 183px;
  padding: 15px 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #3e9cdc;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fff;
  color: #3e9cdc;
  border-color: #3e9cdc;
}

.button--secondary {
  color: #2a2b30;
  background-color: #fff;
  border-color: #6f6d7b;
}

.button--secondary:hover {
  color: #fff;
  background-color: #6f6d7b;
  border-color: #fff;
}

.input {
  min-width: 370px;
  height: 48px;
  padding: 10px 12px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #272733;
  border: none;
}

.input::placeholder {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #272733;
}

select.input {
  padding-right: 35px;
}

.main-header {
  position: fixed;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: rgba(16, 16, 29, 0.9);
}

.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav__list {
  display: flex;
  align-items: center;
  column-gap: 60px;
}

.site-nav__list a {
  font-size: 13px;
  font-weight: 600;
  line-height: 15.6px;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.3s ease;
}

.site-nav__list a:hover {
  color: #43abf0;
}

.hero {
  height: 100vh;
  padding-top: 203px;
  background-color: #fff;
  background-image: url("../img/pictures/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hero__title {
  margin-bottom: 80px;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  text-transform: uppercase;
  color: #000;
}

.hero__title span {
  color: #43abf0;
}

.hero__heading {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.hero__list {
  display: flex;
  flex-direction: column;
  column-gap: 5px;
}

.hero__list li {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.hero__list li::before {
  display: inline-block;
  content: "-";
  width: 25px;
  height: 22px;
  text-align: center;
}

.hero__buttons {
  margin-top: 80px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.order {
  padding-top: 67px;
  padding-bottom: 67px;
  background-color: #272733;
  background-image: url("../img/pictures/map-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order__title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.2px;
  text-align: center;
  text-transform: uppercase;
}

.order__title span {
  color: #43abf0;
}

.order__description {
  margin-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-align: center;
  color: #bbbbbb;
}

.order__process-line {
  margin-bottom: 80px;
}

.order__process-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__process-items li {
  position: relative;
  flex-basis: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
}

.order__process-circle::after {
  content: "";
  position: absolute;
  top: 36%;
  right: -28%;
  width: 110px;
  height: 6px;
  background-image: url("../img/pictures/dots.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.order__process-items li:last-child .order__process-circle::after {
  display: none;
}

.order__process-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #286690;
  background-color: #3e9cdc;
  background-image: url("../img/icons/file-plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.order__wrapper {
  margin-bottom: 40px;
}

.order__form {
  display: flex;
  flex-direction: column;
}

.order__form .button {
  min-width: 370px;
  align-self: center;
}

.order__form-line:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.order__form-line:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.order__file-button {
  min-width: 370px;
  border-color: #3e9cdc;
  background-color: #fff;
  color: #272733;
}

.order__file-button:hover {
  border-color: #fff;
  background-color: #3e9cdc;
  color: #fff;
}

.order__range-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 11px;
}

.order__range-columns label {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.order__range-output {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.6px;
  color: rgba(255, 255, 255, 0.85);
}

.main-footer {
  padding-top: 31px;
  padding-bottom: 31px;
  background-color: #3d4050;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-footer__copyright {
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
}

.main-footer__copyright span {
  text-transform: uppercase;
}

.main-footer__column--middle {
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
}

.main-footer__column--middle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 18px;
  background-color: #c3c3c3;
}

.main-footer__column--middle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 18px;
  background-color: #c3c3c3;
}

.main-footer__links-list {
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.main-footer__links-list a {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  color: #c3c3c3;
  transition: color 0.3s ease;
}

.main-footer__links-list a:hover {
  color: #3e9cdc;
}

@media (max-width: 1500px) {
  .hero {
    height: auto;
    padding-bottom: 50px;
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .site-nav__list {
    column-gap: 40px;
  }

  .main-footer__links-list {
    column-gap: 20px;
  }

  .main-footer__column--middle {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1050px) {
  .main-footer__wrapper {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 0;
  }

  .main-footer__column--middle {
    padding-left: 0;
    padding-right: 0;
  }

  .main-footer__column--middle::before,
  .main-footer__column--middle::after {
    display: none;
  }

  .main-footer__links-list {
    column-gap: 10px;
  }
}

@media (max-width: 768px) {
  .site-nav {
    flex-direction: column;
    row-gap: 20px;
  }

  .site-nav__list {
    column-gap: 20px;
  }

  .hero {
    padding-top: 180px;
  }

  .hero__title {
    font-size: 44px;
    line-height: 53.6px;
    margin-bottom: 40px;
  }

  .hero__buttons {
    margin-top: 60px;
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 160px;
  }

  .hero__title {
    font-size: 34px;
    line-height: 45.6px;
  }

  .hero__buttons {
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 40px;
  }
}

@media (max-width: 400px) {
  .main-header__logo {
    width: 240px;
    height: 28px;
  }

  .site-nav__list {
    column-gap: 10px;
  }

  .site-nav__list a {
    font-size: 12px;
    line-height: 13.6px;
  }
}
